@model IEnumerable<Versioning.App.Models.VER_MAIN>

@{
    ViewData["Title"] = "IndexVer";
}

<h1>IndexVer</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.API_VER_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UI_VER_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HAS_SCRIPT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCRIPTS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.API_VER_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UI_VER_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HAS_SCRIPT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCRIPTS)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
